[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
types-flask-sqlalchemy = "*"

[dev-packages]
types-flask-sqlalchemy = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}

[requires]
python_version = "3.13"
